//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends head_layout

block nav_items
  +nav_item('controller_home', '主页', '/controller')
  +nav_item('users', '用户', '/users')
  +nav_item('networks', '网络', '/controller/networks')
  +nav_item('add_network', '添加网络', '/controller/network/create')

block body_content
  .container(style='margin: 50px auto 20px')
    .row
      .col-sm-12
        block content
