//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  - if (member !== undefined)
    h4 for member
      a(href='../' + member.address)  #{member.address}
  h4 编辑
    b  #{title}
    |  尚未实施.

  h4
    | 请注意，您可能可以在上编辑某些属性
    strong
      a(href='/controller/network/' + network.nwid + '#members') 成员
    |  页.
