//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout
block title
block net_content
  script.
    $(function() {
      $('.checkbox').on('click', function() {
        $.post('', {'private': $('#privateCheckBox').is(':checked')});
      });
    });

  form(method='POST' action='')
    table.table.table-responsive.table-striped.table-hover
      tr
        td(width='3%')
          input#privateCheckBox.checkbox(type='checkbox' checked=(network.private? true : false))
        td 启用访问控制。警告：如果禁用此功能，将无法取消对网络成员的授权。仅当您知道自己在做什么时才禁用此选项.

  if errors
    ul
      for err in errors
        li!= err.msg
